.button--submit {
  width: 9rem;
  align-self: center;
  height: 3rem;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background-color 0.25s;
  margin-top: 5%;
}

.button--submit:hover {
  background-color: var(--color-nemo-dark);
}
