.form {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.form__legend {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
