.tab {
  border-radius: 15px;
  font-weight: bold;
  border-color: transparent;
}

.tab:hover {
  background-color: var(--color-water-10);
}

.tab__badge {
  background-color: var(--color-water-10);
  border-radius: 15px;
  display: inline-block;
  margin-left: 5px;
  width: 20px;
}

.--tab-active {
  color: var(--color-nemo);
}

.--badge-active {
  background: var(--color-nemo);
  color: white;
}
